@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --primary-font: 'Nanum Gothic', sans-serif;
}

* {
  font-family: var(--primary-font);
}
